@import './theme.scss';
@import './home.scss';

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

::view-transition-new(root),
::view-transition-old(root) {
  @apply animate-none mix-blend-normal;
}

::view-transition-old(root) {
  @apply z-[1];
}

::view-transition-new(root) {
  @apply z-[2147483646];
}

html.dark::view-transition-old(root) {
  @apply z-[2147483646];
}

html.dark::view-transition-new(root) {
  @apply z-[1];
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

// element-plus全局样式
:root {
  // el-menu样式
  --el-menu-active-color: var(--side-bar-active-color);
  --el-menu-text-color: var(--side-bar-text-color);
  .active-bg-menu {
    background-color: var(--side-bar-active-bg);
  }
  .el-menu-item {
    border-radius: 8px;
  }
  .el-menu-item:hover {
    color: var(--side-bar-text-color);
  }
  .el-sub-menu__title:hover, .el-sub-menu__title:focus {
    color: var(--side-bar-text-color);
  }
  
  .el-table th.el-table__cell {
    background-color: var(--table-header-bg-color);
  }
  .el-table tr {
    background-color: var(--table-body-bg-color);
  }
}

.may-container {
  box-sizing: border-box;
  background-color: var(--default-bg-color2);
  @apply min-h-full p-4;
}

.min-container-h {
  min-height: calc(100vh - 116px);
}

.may-card {
  background-color: var(--default-card-bgcolor);
}

.may-title {
  @apply text-lg w-full h-16 font-semibold;
  line-height: 60px;
}

.bg-style2 {
  background-color: var(--default-bg-color2);
}

.may-condition {
  @apply p-4;
}

.el-button.is-text {
  padding: 8px;
}

.border-default-c {
  border-color: var(--default-bor-color);
}

.fix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color 0.3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.3);
}

.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  transform: translateX(-30px);
  opacity: 0;
}

.fade-slide-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
