html[data-theme='light'] .global-theme {
  background-color: #fff;
  color: #000000;
}

html[data-theme='dark'] .global-theme {
  background-color: #293146;
  color: #ffffffa6;
}

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.may-container {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.may-title {
  @apply text-lg;
  line-height: 60px;
}

.el-button.is-text {
  padding: 8px;
}
