html {
  &[data-theme='light'] {
    --default-bg-color: #ffffff;
    --default-bg-color2: #f1f3f6;
    --default-color: #000000;
    --default-bor-color: #e4e4e7;
    --default-card-bgcolor: #ffffff;
    --tab-bg: #d9e9fb;
    --button-active-bg: #f1f3f6;
    --tab-color: #217ee9;
    --side-bar-active-bg: #d9e9fb;
    --side-bar-active-color: #006be6;
    --side-bar-text-color: #323639;
    --table-header-bg-color: #f4f4f5;
    --table-body-bg-color: #ffffff;
  }

  &[data-theme='dark'] {
    --default-bg-color: #1c1e23;
    --default-bg-color2: #14161a;
    --default-color: #ffffff;
    --default-bor-color: #36363a;
    --default-card-bgcolor: #1c1e23;
    --tab-bg: #2e3033;
    --button-active-bg: #2e3033;
    --tab-color: #fafafa;
    --side-bar-active-bg: #2e3033;
    --side-bar-active-color: #f4f4f4e5;
    --side-bar-text-color: #b6b7b8;
    --table-header-bg-color: #252526;
    --table-body-bg-color: #1c1e23;
    --skeleton-bg: #2e2e2e;
    --skeleton-hl: #363636;
  }
}

.global-theme {
  background-color: var(--default-bg-color);
  color: var(--default-color);
  border-color: var(--default-bor-color);
}
